<hr class="xl:hidden"/>
<div class="max-w-xl mb-4 mt-16">
<h2 class="text-xl"><a href="https://dfwfwd.curated.co/">📬 Subscribe to DFW » FWD</a></h2>
<p class="text-base">Receive our weekly Wednesday newsletter for recommended reads about DFW, tech, and day-of reminders for our Lunch'n'Learns.</span></p>
</div>
<iframe class="" src="https://dfwfwd.curated.co/embed?color1=&color2=121826&color_bg_button=2c2c2d&color_border=transparent&color_button=ffffff&color_links=979797&color_terms=808080&title=" width="450" height="210" frameborder="0" style="max-width: 100%"></iframe>
