<footer class="">
  <div class="mx-auto max-w-3xl">
    <ul class="flex justify-center mx-auto w-full my-4">
      <li class="cta cta-1">
        <a href="https://www.meetup.com/full-stack-dallas/">Join the Meetup</a>
      </li>
      <li class="cta cta-2">
        <a href="https://discord.com/invite/uYfkpwUT45">Join the Discord</a>
      </li>
    </ul>
    <p class="block text-center text-sm mb-6">
      Built by
      <a target="_blank" href="https://www.superbasic.xyz">
        Super Basic
      </a>
    </p>
  </div>
  <!-- <a class="block text-center text-sm" href="{{ site.baseUrl }}privacy-policy">Privacy Policy</a> -->
</footer>
