<footer class="">
  <hr/>
  <h2 class="footer-title mb-5"><a class="cta pb-1 px-0" href="/">Full Stack DFW</a></h2>
  <div class="mx-auto max-w-3xl">
    <ul class="flex flex-col md:flex-row items-center justify-center mx-auto w-full">
      <li class="cta">
        <a href="https://discord.com/invite/uYfkpwUT45">Discord</a>
      </li>
      <li class="cta">
        <a href="https://www.linkedin.com/groups/14086123/">LinkedIn</a>
      </li>
      <li class="cta">
        <a href="https://www.youtube.com/channel/UCQXogK1LsaUnMAefsG9255w">Youtube</a>
      </li>
      <li class="cta">
        <a href="https://dfwfwd.curated.co/">DFW » FWD</a>
      </li>
      <li class="cta">
        <a href="https://www.meetup.com/full-stack-dallas/">Meetup</a>
      </li>
    </ul>



    <p class="block text-center text-sm mb-6">
      Built by
      <a target="_blank" href="https://www.superbasic.xyz">
        Super Basic
      </a>
    </p>
  </div>
  <!-- <a class="block text-center text-sm" href="{{ site.baseUrl }}privacy-policy">Privacy Policy</a> -->
</footer>
