<footer class="">
  <div class="mx-auto max-w-3xl">
    <ul class="flex justify-center mx-auto w-full my-10">
      <li class="cta cta-1">
        <a href="https://www.meetup.com/full-stack-dallas/">Join the Meetup</a>
      </li>
      <li class="cta cta-2">
        <a href="https://discord.com/invite/uYfkpwUT45">Join the Discord</a>
      </li>
    </ul>

    <p class="max-w-xl mx-auto text-center"><a href="https://dfwfwd.curated.co/">Subscribe to DFW-FWD</a><br/> our weekly Wednesday newsletter for recommended reads about DFW, tech, and day-of reminders for our Lunch'n'Learns</p>
    <iframe class="mx-auto text-center" src="https://dfwfwd.curated.co/embed?color1=&color2=121826&color_bg_button=2c2c2d&color_border=121826&color_button=ffffff&color_links=979797&color_terms=808080&title=" width="450" height="210" frameborder="0" style="max-width: 100%"></iframe>


    <p class="block text-center text-sm mb-6">
      Built by
      <a target="_blank" href="https://www.superbasic.xyz">
        Super Basic
      </a>
    </p>
  </div>
  <!-- <a class="block text-center text-sm" href="{{ site.baseUrl }}privacy-policy">Privacy Policy</a> -->
</footer>
