<header>
  <nav class="container mx-auto max-w-6xl px-4 lg:px-8 py-8 flex flex-wrap justify-between">
    <a class="dark:text-white text-3xl" href="{{ site.baseUrl }}">{{ site.name }}</a>
  </nav>
</header>
