<header>
  <nav class="container mx-auto max-w-3xl px-8 py-8 flex flex-wrap justify-between">
    <div>
      <h1 class="font-mono text-xl bg-gray-900 text-white pt-2 pb-3 pl-4 pr-5" style="box-shadow: 8px 8px 0 red, -8px -8px 0 blue;">
        <a class="text-white" href="{{ site.baseUrl }}">{{ site.name }}</a>
      </h1>
    </div>
  </nav>
</header>
