{% extends 'page.njk' %}

{% block body %}
  <h1>{{ title }}</h1>
  <h2>with {{ speaker }}</h2>
  <time class="block mt-4">{{ date | dateDisplay }}</time>
  <div class="mt-8">
    {{ content | safe }}
  </div>
  <hr />
  <p><a href="https://fullstackdfw.com">FullstackDFW</a> is an online-first tech-enthusiast group serving folks around DFW interested in full stack development.
  We host online learning lunches on the second Wednesday of the month at 12:30 PM CT on our <a href="https://discord.com/invite/uYfkpwUT45">Discord server</a>.</p>
{% endblock %}
