{% extends 'page.njk' %}

{% block body %}
  <h1 class="text-2xl">{{ title }}</h1>
  <h2 class="text-base mb-4">with {{ speaker }}</h2>
  <time class="text-base block mb-6">{{ date | dateDisplay }}</time>
  <div class="content">
    {{ content | safe }}
  </div>
  <hr />
  <div class="text-base">
    <p><a href="https://fullstackdfw.com">Full Stack DFW</a> is an online-first tech-enthusiast group serving folks around the Dallas-Fort Worth metroplex who are interested in full stack development.</p>
    <p>We host online learning lunches on the third Wednesday of the month at 12:30 PM CT.</p>
  </div>
{% endblock %}
