/* Font (see https://fonts.google.com) */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400&display=swap');

/* Prism Code Highlighting Theme (see https://prismjs.com) */
@import url('https://cdn.jsdelivr.net/npm/prism-themes@1.5.0/themes/prism-dracula.css');

:not(pre) > code[class*='language-'] {
  /* Fixes issue where theme removes indentation. */
  white-space: pre;
}

html,
body {
  @apply antialiased bg-gray-50 text-gray-900 dark:text-gray-50 dark:bg-gray-900;
  font-family: 'IBM Plex Sans', sans-serif;
  @apply text-lg;
}

a {
  @apply border-b border-gray-500 dark:border-gray-300 border-dotted;
}

a:hover {
  @apply border-solid;
}

p {
  @apply my-4;
}

li {
  @apply mb-4;
}

pre {
  @apply my-2 text-sm tracking-wider break-words;
  border-radius: 25px;
}

hr {
  @apply my-8 border-dotted border-b border-gray-300;
}

.toc {
  @apply content;
}

.toc > ol {
  @apply mt-2;
}

.toc > ol > li {
  font-size: 1em;
}

.attribution {
  @apply text-right -mt-8 text-sm;
}

.attribution::before {
  content: '— ';
}

.content > blockquote {
  border-left: 0.5rem solid #718096;
  margin: 1.5em 1.5em;
  padding: 0.5em 1em;
}

.content > img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 100%;
  min-width: 100px;
}

.content > ul {
  list-style-type: disc;
}

.content > ol {
  list-style-type: decimal;
}

.content > ol > li,
.content > ul > li {
  @apply text-lg mr-12 ml-12 pr-2 pl-2 mb-2;
}

.content > p {
  @apply pt-3;
}

.excerpt {
  @apply my-3;
}

.next-page,
.previous-page,
.first-page,
.last-page {
  @apply font-bold whitespace-nowrap text-center;
}

.next-page::after {
  content: ' ►';
}

.previous-page::before {
  content: '◄ ';
}

.first-page::before {
  content: '| ';
}

.last-page::after {
  content: ' |';
}

.top-notice {
  @apply sticky top-0 flex justify-center py-1 -mt-1 text-sm;
}

.top-notice > a::before {
  content: '🔥 ';
}

.top-notice > a::after {
  content: ' 🔥';
}

#privacy-notice-button {
  fill: #fff;
}

#privacy-notice-button-container {
  margin-top: 2px;
  @apply p-2;
}

#privacy-notice-button-container:hover {
  @apply bg-gray-500 rounded cursor-pointer;
}

.logo {
  @apply font-mono text-xl bg-gray-900 text-white pt-2 pb-3 pl-4 pr-5;
  box-shadow: 8px 8px 0 #ff0000, -8px -8px 0 #0000ff;
}

.footer-title{
  @apply text-xl text-center pt-4;
}
.cta {
  @apply p-3;
}

/* .cta-1 {
  box-shadow: 8px 8px 0 #ffaaff, -8px -8px 0 #aaffff;
}

.cta-2 {
  box-shadow: 8px 8px 0 #ffff00, -8px -8px 0 #000000;
} */
