---
pagination:
  data: collections.event
  size: 6
  alias: posts
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% extends 'page.njk' %}

{% block body %}
  <p>{{site.description}}</p>
  <p>We host online learning lunches on the second Wednesday of the month at 12:30 PM CT on our Discord server, linked below.  Join us, won't you?</p>
{% endblock %}
