---
pagination:
  data: collections.event
  size: 6
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% extends 'page.njk' %}

{% block body %}

  <div>
    <h2 class="text-2xl">👋 Hello</h2>
    <p>Full Stack DFW was an online-first group advancing the tech community across the stack and the metroplex since 2020.</p>
    <p>We hosted online Lunch'n'Learns on the third Wednesday of every month at 12:30 PM CT on our Discord server.</p>
  </div>
  <hr/>

  <h2 class="text-2xl mt-12 mb-4">🎈 Events</h2>
  <ol class="grid md:grid-cols-2 gap-4 mb-4">
    {%- for event in collections.event | reverse -%}
      <li >
        <h3>
          <a class="border-none" href="{{ event.url }}">
            <time class="text-sm">{{ event.data.date | dateDisplay }}</time><br>
            <span class="border-b border-dotted">{{ event.data.title }}</span><br>
            <span class="text-base">{{event.data.speaker }}</span>
          </a>
        </h3>
      </li>
    {%- endfor -%}
  </ol>

  <h2 class="text-2xl mt-8 mb-4">📆 Calendar</h2>

  <iframe width="100%" class="mx-auto" src="https://calendar.google.com/calendar/embed?height=300&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTitle=0&showNav=0&showDate=0&mode=AGENDA&showPrint=0&showTabs=0&showCalendars=0&showTz=0&title=Full%20Stack%20DFW&src=MW05bzhtOGQ3aGMwOTk1bXNmZmRjYjBuaTZjN3B2YjJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%234285F4" style="border-width:0" width="325" height="300" frameborder="0" scrolling="no"></iframe>

  <p class="block text-center text-sm italic mt-4">Recently published events might not immediately display.</p>

  <hr>
  <h2 class="text-2xl mt-8 mb-4">🎙 Speak at a Lunch'n'Learn</h2>
  <p>We are always looking for speakers! This is a great venue to develop your presentation skills and we are glad to help you put your talk together.</p>

  <p>If you are interested in speaking, please fill out <a href="https://forms.gle/PaXtDD4DRK976pF86">this form</a>.</p>


How we record events
https://jamespierce.dev/posts/recording-a-virtual-talk-on-discord-with-macos/

{% endblock %}
